.tile {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.tile:hover {
    transform: scale(1.1); /* Scale up the tile */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

@font-face {
    font-family: 'Emulogic';
    src: url('path/to/emulogic.woff') format('woff');
}

body {
    font-family: 'Courier New', Courier, monospace;
  
    cursor: url('http://anuary.com/dev/hp/pad3/public/images/hand-cursor.png'), pointer;
}

