:root{
    
    --white: #fefff1;
    --black: #000000;

}
/*
*selector: body and ul are the selctors of the two rules and are used to select which elements the styles apply to
*ul selector selects the <ul> HTML element in the page to apply styles to it
*/
body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  
  .light-theme{
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  .dark-theme{
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  .btn {
    display: inline-block;
    
    position: absolute;
    top: 40px;
    left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  
  .music-btn{
    position: relative;
  }
  .sheets-btn{
    position: relative;
  }
  .videos-btn{
    position: relative;
  }
  .orange-btn{
    position: relative;
  }
  .three-btn{
    position: relative;
  }
  .flashed-btn{
    position: relative;
  }
img {
  width: 20em;
  max-width:80%;
}
  