:root{
    
    --white: #fefff1;
    --black: #000000;

}
/*
*selector: body and ul are the selctors of the two rules and are used to select which elements the styles apply to
*ul selector selects the <ul> HTML element in the page to apply styles to it
*/
body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  
  .light-theme{
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  .dark-theme{
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  .btn {
    display: inline-block;
    
    position: absolute;
    top: 40px;
    left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  
  /* CSS */
  .index-btn {
    background-image: linear-gradient(#f7f8fa ,#e7e9ec);
    border-color: #000000 #000000 #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 12px;
    height: 20px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 7px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }

  .index-btn:active {
    border-bottom-color: #a2a6ac;
  }

  .index-btn:active:hover {
    border-bottom-color: #626468;
   
  }

  .index-btn:hover {
    border-color: #a3a3a3 #a3a3a3 #a3a3a3;
    
  }

  .index-btn:focus {
    border-color: #a2a6ac;
  
    box-shadow: none;
    outline: 1;
  }
  
  
img {
  width: 20em;
  max-width:80%;
}
  